In [1]:
import pandas as pd
import matplotlib as mpl
#import numpy as np
# import seaborn as sns
from sklearn.tree import DecisionTreeRegressor

In [2]:
df = pd.read_csv("dailycovid.csv")
covid_df = df[['Reporting Date','Total Case Daily Change']]
covid_df['y'] = covid_df['Total Case Daily Change'].shift(-1)

C:\Users\apruf\AppData\Local\Temp/ipykernel_24516/516795409.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_df['y'] = covid_df['Total Case Daily Change'].shift(-1)

In [3]:
covid_df.drop(index=covid_df.index[:38], axis=0, inplace=True)

c:\Users\apruf\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [4]:
covid_df

            Reporting Date  Total Case Daily Change       y
38    3/21/2020 5:00:00 AM                     10.0     6.0
39    3/22/2020 5:00:00 AM                      6.0    12.0
40    3/23/2020 5:00:00 AM                     12.0    12.0
41    3/24/2020 5:00:00 AM                     12.0    13.0
42    3/25/2020 5:00:00 AM                     13.0    29.0
...                    ...                      ...     ...
1046   1/3/2023 6:00:00 PM                    231.0  3125.0
1047   1/3/2023 6:00:00 PM                   3125.0  3125.0
1048   1/4/2023 6:00:00 PM                   3125.0  2497.0
1049  1/10/2023 6:00:00 PM                   2497.0     NaN
1050  1/17/2023 6:00:00 PM                      NaN     NaN

[1013 rows x 3 columns]

In [5]:
covid_df = covid_df.dropna()

In [6]:
covid_60 = covid_df.iloc[:630]
covid_test = covid_df.iloc[630:]

In [7]:
covid_test = covid_test.drop(covid_test.tail(2).index)

In [8]:
covid_60

            Reporting Date  Total Case Daily Change      y
38    3/21/2020 5:00:00 AM                     10.0    6.0
39    3/22/2020 5:00:00 AM                      6.0   12.0
40    3/23/2020 5:00:00 AM                     12.0   12.0
41    3/24/2020 5:00:00 AM                     12.0   13.0
42    3/25/2020 5:00:00 AM                     13.0   29.0
..                     ...                      ...    ...
665   12/9/2021 6:00:00 PM                    267.0   10.0
666  12/10/2021 6:00:00 PM                     10.0  388.0
667  12/11/2021 6:00:00 PM                    388.0  228.0
668  12/12/2021 6:00:00 PM                    228.0  337.0
669  12/13/2021 6:00:00 PM                    337.0  199.0

[630 rows x 3 columns]

In [9]:
covid_test

             Reporting Date  Total Case Daily Change       y
670   12/14/2021 6:00:00 PM                    199.0   204.0
671   12/15/2021 6:00:00 PM                    204.0   252.0
672   12/16/2021 6:00:00 PM                    252.0   233.0
673   12/17/2021 6:00:00 PM                    233.0   284.0
674   12/18/2021 6:00:00 PM                    284.0   321.0
...                     ...                      ...     ...
1042  12/20/2022 6:00:00 PM                    518.0   394.0
1043  12/21/2022 6:00:00 PM                    394.0   772.0
1044  12/22/2022 6:00:00 PM                    772.0   404.0
1045  12/23/2022 6:00:00 PM                    404.0   231.0
1046    1/3/2023 6:00:00 PM                    231.0  3125.0

[377 rows x 3 columns]

In [10]:
X_train = covid_60['Total Case Daily Change'].values.reshape(-1,1)
y_train = covid_60['y'].values.reshape(-1,1)
X_test = covid_test['Total Case Daily Change'].values.reshape(-1,1)

In [11]:
dt_reg = DecisionTreeRegressor(random_state=42)

In [12]:
dt_reg.fit(X=X_train, y=y_train)

DecisionTreeRegressor(random_state=42)

In [13]:
dt_pred = dt_reg.predict(X_test)

In [14]:
covid_test['dt_pred'] = dt_pred

In [15]:
covid_test

             Reporting Date  Total Case Daily Change       y     dt_pred
670   12/14/2021 6:00:00 PM                    199.0   204.0  268.666667
671   12/15/2021 6:00:00 PM                    204.0   252.0  291.000000
672   12/16/2021 6:00:00 PM                    252.0   233.0  126.000000
673   12/17/2021 6:00:00 PM                    233.0   284.0  209.500000
674   12/18/2021 6:00:00 PM                    284.0   321.0  197.000000
...                     ...                      ...     ...         ...
1042  12/20/2022 6:00:00 PM                    518.0   394.0  565.000000
1043  12/21/2022 6:00:00 PM                    394.0   772.0  311.000000
1044  12/22/2022 6:00:00 PM                    772.0   404.0  876.500000
1045  12/23/2022 6:00:00 PM                    404.0   231.0  501.000000
1046    1/3/2023 6:00:00 PM                    231.0  3125.0  159.000000

[377 rows x 4 columns]